body{
    font-family: 'Poppins';
}
#sloganHeader{
    
    background: linear-gradient(to right,#df5fff,#4e7cff);
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    font-weight: 600;
}

#sloganSub{
    text-align: center;
    font-size: 40px;
    color:rgb(73,70,116);
    font-weight: lighter;
    margin:0;
}


#parallaxEarth{
    max-width:1424px;
    width:80vw;
    margin:auto;
    display:block;
    margin-top:-40vh;
}

#stickyHeader{
    position:fixed;
    width: 100vw;
    top:0;
    left:0;
    padding:15px;
    color:white;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(50px);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: fixed;
    z-index:9999;
}