:root {
    --subHeaderSize:min(5.5vw,100px);
}


body{
    font-family: 'Poppins';
    color:rgb(151 149 189);
    overflow-x: hidden;
}



/*
#fadeCover{
    width:100vw;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    background: linear-gradient(black,rgb(27 20 56));
    background-attachment: fixed;
    z-index:9998;
    pointer-events: none;
}
*/

.bigGap{
    height: 200px;
}

#stickyHeader{
    position:fixed;
    width: 100vw;
    top:0;
    left:0;
    padding:15px;
    color:white;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(50px);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index:9999;
}


.blueGradientText{
    background: linear-gradient(to right,#df5fff,#4e7cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bigHeader{
    font-size: 100px;
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
}

.subHeader{
    color:rgb(241 239 228);
    font-size:var(--subHeaderSize);
    font-family: 'Bebas Neue';
    letter-spacing:.055vw;
    margin-top:10px;
    margin-bottom: 10px;
}


.paragraphText{
    font-size:23px;
    font-weight:lighter;
}


#sloganHeader{
    text-align: center;
    border-bottom: 10px;
    margin-top: 120px;
}

#sloganSub{
    text-align: center;
    font-size: 30px;
    color:rgb(73,70,116);
    font-weight: lighter;
    margin:0;
}


.importantButton{
    font-family: 'Poppins';
    display: block;
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 800;
    color: rgb(1 0 12);
    background: rgb(97 239 141);
    padding: 10px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 50px 10px rgb(97 239 193 / 50%);
    cursor: pointer;
}

.importantButton:hover{
    box-shadow: 0 0 50px 15px rgb(97 239 193 / 55%);
}


.infoSection{
    width:40vw;
    max-width: 900px;
    min-width: 400px;
    display: grid;
    align-content: center;
}



.roadmapBlock, .premiumRoadmapBlock{
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 50px rgb(240 220 255 / 10%);
    background-color: rgb(39 33 60);
    backdrop-filter: blur(50px);
    width: 50%;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}

.roadmapConnector{
    background-color:rgba(255,255,255,0.2);
    width:1px;
    height:50px;
    margin:auto;
}

.roadmapGap{
    height:10px;
}

.roadmapBlock h3, .premiumRoadmapBlock h3{
    font-weight: 600;
}


.premiumRoadmapBlock{
    background: linear-gradient(to right,rgb(179 78 208),rgb(67 100 208));
    color: rgb(59 59 60);
    border: 3px solid black;
    box-shadow: 0 0 100px rgb(223 95 255 / 50%);
}

.premiumRoadmapBlock span{
    color:rgb(38,38,38);
}

.premiumRoadmapBlock img{
    margin-right: 10px;
    margin-bottom: 3px;
}

#footer{
    border-top:1px solid rgba(255,255,255,0.2);
    padding:10px;
}

/*images*/
#parallaxEarth{
    max-width:1424px;
    width:80vw;
    margin:auto;
    display:block;
    margin-top:calc((-40vh + -30vw)/2);
    pointer-events: none;
}


#blurbImage{
    width:25vw;
    margin:2.5vw;
    min-width: 400px;
    border-radius: 10px;
    box-shadow:rgb(0 0 0 / 28%) 0px 20px 40px
}

.imageCredit{
    opacity: .3;
    text-align: center;
}