:root {
    --subHeaderSize:40px;
    --priceTitleSize:min(50px);
    --paraFontSize:min(1.5vw,23px);
    --headerFont:'Bebas Neue';
}


body{
    font-family: 'Poppins';
    color:rgb(151 149 189);
    overflow-x: hidden;
    margin: 0;
}



/*
#fadeCover{
    width:100vw;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    background: linear-gradient(black,rgb(27 20 56));
    background-attachment: fixed;
    z-index:9998;
    pointer-events: none;
}
*/

.bigGap{
    height: 40vh;
}

#stickyHeader{
    display: none;
}

#mobileNavbar{
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding:15px;
    color:white;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter:blur(50px);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display:flex;
    justify-content: space-between;
    z-index:9999;
}

#burgerPopup{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index:9998;
    
    display: grid;
    justify-content: center;
    align-content:center;
}

#mobileNavbar img{
    width:25px;
    opacity: .75;
}

#headerLogo{
    opacity: .75;
    font-family: var(--headerFont);
    font-size: 25px;
    transition: .3s;
    cursor: pointer;
    margin:0;
}
#headerLogo:hover{
    opacity: 1;
}

#headerLogo img{
    width:20px;
    margin-right: 7px;
}

.pageLink{
    color:white;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    margin: 6vh;
}

#desktopHeader{
    display: none;
}


#parallaxEarth{
    display:none;
}

#mobileHeader img{
    width:100vw;
    left:0;
    right:0;
    margin-top:-30vw;
}

#mobileHeader h1{
    letter-spacing: -1px;
    font-size: 11vw;
    font-family: var(--headerFont);
    text-align: center;
}
#mobileHeader p{
    text-align: center;
    font-weight: lighter;
}

.blueGradientText{
    background: linear-gradient(to right,rgb(223 95 255),rgb(78 124 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bigHeader{
    font-size: 100px;
    font-family: var(--headerFont);
    letter-spacing: 1px;
}

.subHeader{
    color:rgb(241 239 228);
    font-size:var(--subHeaderSize);
    font-family: var(--headerFont);
    letter-spacing:-1px;
    margin-top:10px;
    margin-bottom: 10px;
}


.gradientSub{
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

.paragraphText{
    font-size:max(16px,var(--paraFontSize));
    font-weight:lighter;
}


#sloganHeader{
    text-align: center;
    border-bottom: 10px;
    margin-top: 120px;
}

#sloganSub{
    text-align: center;
    font-size: 30px;
    color:rgb(73,70,116);
    font-weight: lighter;
    margin:0;
}


.importantButton{
    font-family: 'Poppins';
    display: block;
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 800;
    color: rgb(1 0 12);
    background: rgb(97 239 141);
    padding: 10px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 0 50px 10px rgb(97 239 193 / 50%);
    cursor: pointer;
}

.importantButton:hover{
    box-shadow: 0 0 50px 15px rgb(97 239 193 / 55%);
}


.imageBlurb{
    display: grid;
    justify-content: center;
}

.imageBlurb img{
    width:80vw;
    border-radius: 10px;
    box-shadow:rgb(0 0 0 / 28%) 0px 20px 40px;
    
}

.infoSection{
    width:80vw;
    display: grid;
    align-content: center;
}




#roadmapSlide{
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 50px rgb(240 220 255 / 10%);
    background-color: rgb(39 33 60);
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}

#rmSlideImage{
    width:100%;
    border-radius: 10px;
    opacity: .9;
}

#rmSlideSub{
    font-size: 12.5px;
}


#roadmapSlide h3{
    font-weight: 600;
}


#rmDotContainer{
    display: flex;
    justify-content: center;
}

.rmSideDot, .rmMainDot{
    display:inline-block;
    width:10px;
    height:1px;
    border-radius: 10px;
    border: 2px solid;
    margin-left:5px;
    margin-right: 5px;
    cursor: pointer;
    background-color:rgb(151 149 189);
    opacity: 0.3;
}
.rmMainDot{
    
    opacity: 1;
}

.slideButton{
    background-color: transparent;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left:10px;
    margin-right: 10px;
}

.slideButton:hover{
    background-color: rgba(255,255,255,0.05);
}


.techSub{
    font-family: var(--headerFont);
    color:white;
}

.funFactSection{
    padding:10px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(240 220 255 / 10%);
    background-color: rgb(39 33 60);
}

.container{
    width: 85%;
    margin: auto;
    margin-top: 15vh;
}
.container h1{
    text-align: center;
    margin-top: 15vh;
}

.littleLogo{
    font-weight: 600;
    text-align:center !important;
    margin:0;
    font-family: var(--headerFont);
    font-size: 150%;
    letter-spacing: 1px;
}
.price-row {
    display: grid;
    align-content: center;
    justify-content: center;
}
.price-col {
    width:80%;
    padding: 30px;
    text-align: center;
    margin:20px;
    display: grid;
    border: 2px solid;
    box-shadow: 0 0 30px black;
    background-color: rgb(39 33 60);
    border-radius: 15px;
    padding: 15px;
}
.price-col h3{
    font-size: 22px;
    color: #ddd;
}
.price-col h2{
    font-size: var(--priceTitleSize);
    font-family: var(--headerFont);
    margin: 0;
    font-weight: 600;
}
.price-col p{
    text-align: left;
    margin: 5px;
}
.price-col button {
    font-family: 'Poppins';
    font-weight: 800;
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
} 

#expPriceOpt{
    margin-top:25px;
    margin-bottom:25px;
}

#expPriceOpt button{
    background:rgba(255,255,255,0.1);
}



#comPriceOpt h2{
    color: white;
    text-shadow: 0 0 30px rgb(235 157 255);
    letter-spacing: 1px;
}

#comPriceOpt button{
    background: rgb(223 95 255);
    color: rgb(20,20,20);
    box-shadow: 0 0 50px rgb(223 95 255 / 72%);
}




.testimonial{
    width:80vw;
    margin:auto;
}

.testimonialConnector{
    background-color: rgba(151,149,189,0.4);
    width:2px;
    height: 10vh;
    margin: auto;
    margin-top:15vh;
    margin-bottom: 15vh;
    
}

.testimonial img{
    width:80px;
    border-radius: 100%;
    opacity: .6;
    margin-right: 15px;
}


.testimonialCite{
    display: grid;
    align-content: center;
}
.testimonialCite p{
    margin: 0;
}
.testimonialName{
    font-family: var(--headerFont);
    font-size: 25px;
}

.testimonial span{
    font-family: var(--headerFont);
    font-size: 50px;
}




.sourceSection{
    width:80vw;
    margin:auto;
}
.sourceSection p{
    word-wrap: wrap;
    word-break: break-all;
}



#footer{
    opacity: 0.3;
    display: flex;
    justify-content: space-around
}

#footer p{
    margin:0;
}

#footer img{
    width:30px;
    margin-left: 10px;
    cursor: pointer;
}


/*images*/


.imageCredit{
    opacity: .3;
    text-align: center;
}

